:root {
  --color-primary: #23F3A8;
  --color-secondary: #ff8800;
  --color-black: #141519;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
button:focus,
input:focus,
select:focus {
  outline-color: var(--color-primary);
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.body--lock {
  overflow: hidden;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-primary);
}

.input {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 15px;
  outline: none;
  border: 1px solid transparent;
  transition: border 0.3s;
}

.input[type=number] {
  appearance: textfield;
}

.input:focus {
  border-color: var(--color-primary);
}

.title1,
.title1 h1,
.title1 h2,
.title1 h3,
.title2,
.title2 h1,
.title2 h2,
.title2 h3,
.title3,
.title3 h1,
.title3 h2,
.title3 h3 {
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
}

.title1 b,
.title1 h1 b,
.title1 h2 b,
.title1 h3 b,
.title2 b,
.title2 h1 b,
.title2 h2 b,
.title2 h3 b,
.title3 b,
.title3 h1 b,
.title3 h2 b,
.title3 h3 b {
  font-weight: 300;
  color: var(--color-primary);
}

.title1--white,
.title1--white h1,
.title1--white h2,
.title1--white h3,
.title2--white,
.title2--white h1,
.title2--white h2,
.title2--white h3,
.title3--white,
.title3--white h1,
.title3--white h2,
.title3--white h3 {
  color: #fff;
}

.title1--lh-120,
.title1--lh-120 h1,
.title1--lh-120 h2,
.title1--lh-120 h3,
.title2--lh-120,
.title2--lh-120 h1,
.title2--lh-120 h2,
.title2--lh-120 h3,
.title3--lh-120,
.title3--lh-120 h1,
.title3--lh-120 h2,
.title3--lh-120 h3 {
  line-height: 1.2;
}

.title1,
.title1 h1,
.title1 h2,
.title1 h3 {
  font-size: 32px;
}

.title1--big,
.title1--big h1,
.title1--big h2,
.title1--big h3 {
  font-size: 48px;
}

.title2,
.title2 h1,
.title2 h2,
.title2 h3 {
  font-size: 26px;
}

.text {
  font-size: 15px;
  line-height: 1.2;
}

.text b {
  font-weight: 600;
}

.text-primary {
  color: var(--color-primary);
}

.text-white {
  color: #fff;
}

:root {
  --color-primary: #23F3A8;
  --color-secondary: #ff8800;
  --color-black: #141519;
}

.btn {
  padding: 23px 32px;
  background-color: var(--color-primary);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  transition: color 0.3s, background 0.3s;
}

.btn:hover {
  background-color: #24e49d;
}

.btn--black {
  background-color: var(--color-black);
  color: var(--color-primary);
}

.btn--black:hover {
  background-color: #2b2b2b;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #323D4F;
}

.logo__text:not(:first-child) {
  margin-left: 12px;
}

.menu__header {
  display: none;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item--mobile {
  display: none;
}

.menu__link {
  display: inline-block;
  min-width: 159px;
  text-align: center;
  padding: 21px 24px;
  border-left: 2px solid var(--color-black);
  font-size: 15px;
  color: var(--color-black);
  transition: color 0.3s;
}

.menu__link:hover {
  color: var(--color-primary);
}

.menu__link img {
  margin-right: 8px;
}

.menu__open {
  height: 24px;
  display: none;
}

.menu__lines {
  position: relative;
  z-index: 6;
}

.menu__lines,
.menu__lines:before,
.menu__lines:after {
  height: 2px;
  background-color: var(--color-black);
  display: block;
  transform: rotate(0);
  width: 18px;
  transition: transform 0.3s, width 0.3s;
}

.menu__lines:before,
.menu__lines:after {
  content: "";
  position: absolute;
  right: 0;
}

.menu__lines:before {
  transform: translateY(-5px);
}

.menu__lines:after {
  transform: translateY(5px);
}

.menu__lines--close {
  height: 0;
}

.menu__lines--close:before {
  transform: rotate(-45deg);
  background-color: var(--color-black);
}

.menu__lines--close:after {
  transform: rotate(45deg);
  background-color: var(--color-black);
}

.menu__lang-box {
  display: none;
}

.menu__btn {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown__main {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.dropdown--active .dropdown__main {
  display: block;
}

.lang__toggle {
  display: flex;
  align-items: center;
  padding: 12px 20px 12px 25px;
  color: var(--color-black);
  border-left: 2px solid var(--color-black);
  font-size: 14px;
}

.lang__toggle:hover:after {
  border-top-color: var(--color-primary);
}

.lang__toggle:after {
  content: "";
  border: 4px solid transparent;
  border-top: 4px solid var(--color-black);
  display: inline-block;
  top: 17px;
  margin-left: 8px;
  transform: translateY(2px);
  transition: border-color 0.3s;
}

.lang__dropdown {
  right: 0;
  left: unset;
}

.lang__btns {
  border: 2px solid var(--color-black);
  border-right: none;
  display: flex;
}

.lang__btn {
  padding: 21px 41px;
  min-width: 138px;
}

.lang__btn:not(:first-child) {
  border-left: 2px solid var(--color-black);
}

.lang--menu .lang__dropdown {
  right: -4px;
}

.lang--menu .lang__btns {
  border: 2px solid #fff;
}

.lang--menu .lang__toggle {
  color: var(--color-black);
  border-left: none;
}

.lang--menu .lang__toggle:after {
  border-top-color: var(--color-black);
}

.lang--menu .lang__btn {
  border-color: #fff;
}

.lang.dropdown--active .lang__toggle:after {
  transform: rotate(180deg) translateY(3px);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  background: #fff;
}

.header__top {
  border-bottom: 2px solid var(--color-black);
}

.header__top-links {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.header__top-link {
  display: flex;
  align-items: center;
  padding: 12px 20px 12px 25px;
  color: var(--color-black);
  border-left: 2px solid var(--color-black);
  font-size: 14px;
}

.header__top-link:hover svg {
  fill: var(--color-primary);
}

.header__top-link img,
.header__top-link svg {
  margin-right: 8px;
}

.header__top-link svg {
  fill: var(--color-black);
  transition: fill 0.3s;
}

.header__lang {
  width: 82.5px;
}

.header__bottom {
  border-bottom: 2px solid var(--color-black);
}

.header__bottom-content {
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.header__mobile-links {
  display: none;
}

.header__mobile-link {
  font-size: 14px;
  color: var(--color-black);
}

.header__menu {
  margin-left: auto;
}

.header__btn {
  padding: 21px 41px;
  border-left: 2px solid var(--color-black);
}

.header--fixed {
  position: fixed;
}

.header--index:not(.header--fixed) {
  background: transparent;
}

.header--index:not(.header--fixed) .header__top {
  border-color: #fff;
}

.header--index:not(.header--fixed) .header__top-link {
  color: #fff;
  border-color: #fff;
}

.header--index:not(.header--fixed) .header__top-link:hover {
  color: var(--color-primary);
}

.header--index:not(.header--fixed) .header__top-link:hover svg {
  fill: var(--color-primary);
}

.header--index:not(.header--fixed) .header__top-link svg {
  fill: #fff;
}

.header--index:not(.header--fixed) .header__lang .lang__toggle {
  color: #fff;
  border-color: #fff;
}

.header--index:not(.header--fixed) .header__lang .lang__toggle:hover {
  color: var(--color-primary);
}

.header--index:not(.header--fixed) .header__lang .lang__toggle:hover:after {
  border-top-color: var(--color-primary);
}

.header--index:not(.header--fixed) .header__lang .lang__toggle:after {
  border-top-color: #fff;
}

.header--index:not(.header--fixed) .header__lang .lang__btns {
  border-color: #fff;
}

.header--index:not(.header--fixed) .header__lang .lang__btn:not(:first-child) {
  border-color: #fff;
}

.header--index:not(.header--fixed) .header__menu .menu__link {
  color: #fff;
  border-color: #fff;
}

.header--index:not(.header--fixed) .header__menu .menu__link:hover {
  color: var(--color-primary);
}

.header--index:not(.header--fixed) .header__bottom {
  border-color: #fff;
}

.header--index:not(.header--fixed) .header__btn {
  border-color: #fff;
}

.breadcrumbs {
  padding-bottom: 88px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  font-family: "SourceCodePro", sans-serif;
  line-height: 1.27;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.04em;
  overflow-x: auto;
}

.breadcrumbs__item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.breadcrumbs__item:not(:last-child) {
  position: relative;
  margin-right: 6px;
}

.breadcrumbs__item:not(:last-child):after {
  content: "\\";
  display: inline-block;
  margin-left: 6px;
  pointer-events: none;
  cursor: default;
  color: #fff;
}

.breadcrumbs__link,
.breadcrumbs__current {
  color: inherit;
  text-transform: uppercase;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__current {
  flex: 0 0 auto;
}

.breadcrumbs--white {
  color: #fff;
}

.main {
  padding-top: 120px;
  flex: 1 1 auto;
  overflow: hidden;
}

.main__directs {
  margin-top: 125px;
}

.banner {
  margin-top: -120px;
  padding-top: 120px;
  padding-bottom: 60px;
  background: url(../img/banner.jpg) top/cover no-repeat;
  background-position-y: 26%;
  min-height: max(900px, 100vh);
}

.banner__content {
  padding: 0 16px;
}

.banner__title {
  max-width: 600px;
  color: #fff;
  text-transform: uppercase;
}

.banner__features {
  margin-top: 64px;
}

.banner__features-list {
  margin: -16px -8px;
  display: flex;
  flex-wrap: wrap;
}

.banner__features--indent {
  margin-top: 290px;
  padding-top: 14px;
  border-top: 2px solid #fff;
}

.banner__feature {
  display: flex;
  align-items: center;
  width: calc(25% - 18px);
  margin: 16px 8px;
}

.banner__feature:before {
  content: "";
  margin-right: 24px;
  flex: 0 0 auto;
  background-color: var(--color-primary);
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.banner__feature-text {
  max-width: 250px;
  color: #fff;
}

.banner__feature--vertical {
  flex-direction: column;
  align-items: flex-start;
}

.banner__feature--vertical:before {
  margin-bottom: 16px;
  margin-right: 0;
  width: 40px;
  height: 40px;
}

.banner__feature--vertical .banner__feature-text {
  max-width: 240px;
  font-weight: 500;
}

.banner__feature--col-4 {
  width: calc(33.3333333333% - 18px);
}

.banner__feature--col-4 .banner__feature-text {
  max-width: 310px;
}

.banner__img {
  position: relative;
  margin: 64px -15px 0;
  padding: 34.2% 15px 0;
  border-top: 2px solid #141519;
  border-bottom: 2px solid #141519;
}

.banner__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  max-height: 100%;
  border-left: 2px solid #141519;
  border-right: 2px solid #141519;
  object-fit: cover;
}

.banner--white {
  padding-bottom: 0;
  min-height: auto;
  background: #fff;
}

.banner--white .banner__title {
  max-width: 704px;
  color: var(--color-black);
}

.banner--white .banner__feature-text {
  color: var(--color-black);
}

.banner--company .banner__title {
  max-width: none;
}

.banner--company .banner__features {
  margin-left: auto;
  margin-right: auto;
  max-width: 1292px;
}

.banner--company .banner__img {
  margin-top: 88px;
}

.partners {
  padding: 13px 0 125px;
}

.partners__info {
  margin-bottom: 64px;
  padding: 0 16px;
}

.partners__title {
  max-width: 1056px;
}

.partners__list,
.partners__item {
  border-style: solid;
  border-color: var(--color-black);
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  border-width: 2px 0 0 0;
}

.partners__item {
  padding: 30px;
  width: 25%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0 2px 2px 0;
}

.partners__item:nth-child(4n) {
  border-right: none;
}

.services {
  padding: 16px 0 125px;
  background-color: #000;
}

.services__breadcrumbs {
  padding-left: 16px;
  padding-right: 16px;
}

.services__main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__title {
  padding-left: 16px;
  max-width: min(704px, 100% - 290px);
}

.services__btn {
  margin: 0 16px;
  flex: 0 0 auto;
}

.services__list-box {
  margin-top: 64px;
  width: 100%;
}

.services__list {
  margin: 0 -12px;
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  position: relative;
  margin: 0 12px;
  padding: 29px;
  width: calc(25% - 24px);
  min-height: 192px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.services__item:before {
  content: "";
  margin-bottom: 19px;
  display: inline-block;
  background-color: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.services__item:nth-child(4n+1) {
  padding-left: 16px;
}

.services__item:not(:nth-child(4n)):after {
  content: "";
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% - 26px);
  background-color: rgba(255, 255, 255, 0.5);
}

.services__item:nth-child(4n+5),
.services__item:nth-child(4n+6),
.services__item:nth-child(4n+7),
.services__item:nth-child(4n+8) {
  border-top: none;
}

.services__item-text {
  max-width: 270px;
  color: #fff;
}

.services__item-text:not(:first-child) {
  margin-top: 16px;
}

.products {
  padding: 16px 0 125px;
}

.products__info {
  padding: 0 16px;
}

.products__list,
.products__item {
  border-style: solid;
  border-color: var(--color-black);
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  border-width: 2px 0 0 0;
}

.products__item {
  width: 25%;
  border-width: 0 2px 2px 0;
}

.products__item:nth-child(4n) {
  border-right: none;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card__img {
  position: relative;
  padding-top: 74.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  object-fit: contain;
}

.product-card__name {
  position: relative;
  padding: 22px 26px 22px 24px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--color-black);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

.product-card__name a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s;
}

.product-card__name a:hover {
  color: var(--color-primary);
}

.product-card__name a:after {
  content: "";
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTggMTZMNi41NzUgMTQuNkwxMi4xNzUgOUgwVjdIMTIuMTc1TDYuNTc1IDEuNEw4IDBMMTYgOEw4IDE2WiIgZmlsbD0iIzE0MTUxOSIvPgo8L3N2Zz4K) center/contain no-repeat;
  width: 16px;
  height: 16px;
}

.product-card__name a span {
  max-width: 250px;
  display: block;
}

.product-card__more {
  margin: auto;
  text-align: center;
}

.product-card__more-text {
  display: block;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s;
}

.product-card__more-text:not(:first-child) {
  margin-top: 22px;
}

.product-card__more:hover .product-card__more-text {
  color: var(--color-primary);
}

.callback__content {
  padding: 0 16px;
  border-top: 2px solid var(--color-black);
}

.callback__main {
  border-left: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  padding: 16px 16px 127px;
  background-color: var(--color-primary);
}

.callback__breadcrumbs {
  padding-bottom: 92px;
}

.callback__info {
  margin: 0 auto;
  max-width: 535px;
  text-align: center;
}

.callback__btn {
  margin-top: 32px;
  padding-left: 25px;
  padding-right: 25px;
}

.directs {
  padding: 16px 0 125px;
  background-color: #000;
  overflow: hidden;
}

.directs__content {
  padding-left: 16px;
}

.directs__title {
  width: 704px;
  max-width: calc(50% - 28px);
}

.directs__main {
  display: flex;
  align-items: flex-end;
}

.directs__arrows {
  margin-right: 43px;
  flex: 0 0 auto;
}

.directs__list {
  margin: -96px -12px 0;
  display: flex;
  flex-wrap: wrap;
}

.directs__item {
  position: relative;
  margin: 0 12px;
  padding: 36px;
  width: calc(25% - 24px);
  min-height: 193px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.directs__item:before {
  content: "";
  height: calc(100% - 22px);
  width: 2px;
  position: absolute;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
}

.directs__item:nth-last-child(1):not(.directs__item--empty, .directs__item--img),
.directs__item:nth-last-child(2):not(.directs__item--empty, .directs__item--img),
.directs__item:nth-last-child(3):not(.directs__item--empty, .directs__item--img),
.directs__item:nth-last-child(4):not(.directs__item--empty, .directs__item--img) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.directs__item-num {
  margin-bottom: 40px;
  font-family: "SourceCodePro", sans-serif;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  color: var(--color-primary);
}

.directs__item-img {
  max-height: 190px;
}

.directs__item--empty {
  padding: 0;
  border: none;
}

.directs__item--empty:before {
  display: none;
}

.directs__item--img {
  padding: 0 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.directs__item--img:before {
  display: none;
}

.team {
  padding: 16px 0 125px;
}

.team__content {
  padding: 0 16px;
}

.team__main {
  display: flex;
  align-items: center;
}

.team__img {
  margin-right: 60px;
  width: 290px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.direct {
  padding: 16px 0 125px;
  border-top: 2px solid var(--color-black);
}

.direct__content {
  padding: 0 16px;
}

.direct__quote {
  margin-top: 40px;
  margin-left: 25%;
  max-width: 345px;
}

.contacts {
  padding-bottom: 125px;
}

.contacts__breadcrumbs {
  padding-left: 16px;
  padding-right: 16px;
}

.contacts__main {
  border-bottom: 2px solid var(--color-black);
  display: grid;
  grid-template-areas: "A A F F" "B C F F" "D E G H";
  grid-auto-columns: 1fr;
}

.contacts__item {
  padding: 16px 16px 14px;
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 2px solid var(--color-black);
  border-top: 2px solid var(--color-black);
  font-size: 28px;
  font-weight: 300;
  line-height: 1.286;
  color: var(--color-black);
  text-transform: uppercase;
}

.contacts__item:nth-child(1) {
  grid-area: A;
}

.contacts__item:nth-child(2) {
  grid-area: B;
}

.contacts__item:nth-child(3) {
  grid-area: C;
}

.contacts__item:nth-child(4) {
  grid-area: D;
}

.contacts__item:nth-child(5) {
  grid-area: E;
}

.contacts__item:nth-child(6) {
  grid-area: F;
  border-right-color: transparent;
}

.contacts__item:nth-child(7) {
  grid-area: G;
}

.contacts__item:nth-child(8) {
  grid-area: H;
  border-right-color: transparent;
}

.contacts__item-img {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__item-img img {
  height: 140px;
  max-height: 100%;
  object-fit: contain;
}

.contacts__map {
  position: relative;
  margin-top: 88px;
  padding-top: 33.75%;
  border-top: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

.contacts__map iframe {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: calc(100% - 32px);
  height: 100%;
  border: none;
  border-left: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
}

.news {
  padding-bottom: 125px;
}

.news__breadcrumbs {
  padding-left: 16px;
  padding-right: 16px;
}

.news__item {
  border-top: 2px solid var(--color-black);
}

.news__item:last-child {
  border-bottom: 2px solid var(--color-black);
}

.news-item {
  padding: 0 16px;
}

.news-item__content {
  min-height: 275px;
  display: flex;
  border-left: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
}

.news-item__img {
  width: 25%;
  flex: 0 0 auto;
}

.news-item__img img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.news-item__main {
  padding: 40px 45px 40px 40px;
  flex: 1 1 auto;
}

.news-item__meta {
  margin-bottom: 11px;
  display: flex;
  align-items: center;
}

.news-item__date {
  font-family: "SourceCodePro", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.04em;
}

.news-item__more {
  margin-left: auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-item__more img {
  width: 21px;
  height: 21px;
}

.news-item__title {
  max-width: 664px;
}

.news-item__text {
  margin-top: 12px;
  max-width: 664px;
}

.news-about {
  padding-bottom: 125px;
}

.news-about__date {
  margin-bottom: 88px;
  padding: 0 16px;
  font-family: "SourceCodePro";
  font-weight: 500;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.04em;
}

.news-about__header {
  margin-bottom: 88px;
  display: flex;
  border-top: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

.news-about__info {
  padding: 64px 16px;
  flex: 1 1 auto;
}

.news-about__title {
  max-width: 664px;
}

.news-about__img {
  width: 50%;
  flex: 0 0 auto;
  min-height: 354px;
  padding-right: 14px;
}

.news-about__img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.news-about__main {
  max-width: 736px;
  padding: 0 16px;
}

.news-about__text {
  font-size: 15px;
  line-height: 1.2;
}

.news-about__text h1,
.news-about__text h2,
.news-about__text h3 {
  font-weight: 300;
  line-height: 1.3;
  text-transform: uppercase;
}

.news-about__text h1:not(:last-child),
.news-about__text h2:not(:last-child),
.news-about__text h3:not(:last-child) {
  margin-bottom: 32px;
}

.news-about__text h1,
.news-about__text h2 {
  font-size: 32px;
}

.news-about__text h3 {
  font-size: 26px;
}

.news-about__text p:not(:first-child) {
  margin-top: 24px;
}

.news-about__text--excerpt {
  margin-bottom: 64px;
}

.not-found {
  padding-bottom: 155px;
}

.not-found__content {
  padding: 0 16px;
}

.not-found__main {
  margin: 25px auto 0;
  max-width: 590px;
  text-align: center;
}

.not-found__img {
  margin-bottom: 24px;
  width: 334px;
}

.not-found__text {
  margin: 24px auto 0;
  max-width: 392px;
  text-align: center;
}

.not-found__btn {
  margin-top: 48px;
  padding: 1px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

.not-found__btn:after {
  content: "";
  margin-left: 15px;
  content: "";
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTggMTZMNi41NzUgMTQuNkwxMi4xNzUgOUgwVjdIMTIuMTc1TDYuNTc1IDEuNEw4IDBMMTYgOEw4IDE2WiIgZmlsbD0iIzE0MTUxOSIvPgo8L3N2Zz4K) center/contain no-repeat;
  width: 14px;
  height: 14px;
}

.footer__content {
  border-top: 2px solid var(--color-black);
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 14px;
  line-height: 1.2;
}

.footer__menu {
  display: flex;
}

.footer__menu-item:not(:first-child) {
  margin-left: 32px;
}

.footer__menu-link {
  font-size: 14px;
  line-height: 1.2;
}

@media (max-width: 1480px) {
  .container--xl {
    padding: 0;
  }

  .header__container {
    padding-right: 0;
  }

  .directs__info {
    padding: 0 16px;
  }

  .contacts__item {
    font-size: 26px;
  }

  .footer__content {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 1320px) {
  .menu__link {
    min-width: 142px;
    padding: 16px;
  }

  .lang__toggle {
    padding-right: 17px;
    padding-left: 21px;
  }

  .lang__btn {
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 130.5px;
  }

  .header__top-link {
    padding-right: 17px;
    padding-left: 21px;
  }

  .header__lang {
    width: auto;
  }

  .header__bottom-content {
    padding-left: 0;
  }

  .header__btn {
    padding: 16px 34px;
  }

  .banner {
    min-height: max(700px, 100vh);
  }

  .banner__content {
    padding: 0;
  }

  .banner__features--indent {
    margin-top: 226px;
  }

  .breadcrumbs {
    padding-bottom: 70px;
  }

  .partners {
    padding-bottom: 105px;
  }

  .services {
    padding-bottom: 105px;
  }

  .services__list-box {
    margin-top: 48px;
  }

  .services__item {
    padding: 16px 14px;
    min-height: 170px;
  }

  .products {
    padding-bottom: 105px;
  }

  .callback__main {
    padding-bottom: 110px;
  }

  .directs__item {
    padding: 22px;
  }

  .directs__item-num {
    margin-bottom: 30px;
  }

  .directs__item--img {
    padding: 0 8px;
  }

  .team__content {
    padding: 0;
  }

  .team__img {
    margin-right: 35px;
    width: 260px;
  }

  .direct__content {
    padding: 0;
  }

  .contacts__item {
    font-size: 22px;
  }

  .news-item__img {
    width: 27%;
  }

  .news-item__main {
    padding: 35px 40px 35px 35px;
    min-height: 265px;
  }

  .news-about__img {
    width: 40%;
    min-height: 240px;
  }
}

@media (max-width: 1140px) {

  .title1,
  .title1 h1,
  .title1 h2 {
    font-size: 30px;
  }

  .title2,
  .title2 h1,
  .title2 h2 {
    font-size: 24px;
  }

  .menu__link {
    min-width: auto;
    padding: 14px 16px;
  }

  .lang__toggle {
    padding: 11px 7px 11px 15px;
  }

  .lang__btn {
    padding-top: 13.5px;
    padding-bottom: 13px;
    min-width: 114.5px;
  }

  .header__top-link {
    padding: 11px 7px 11px 15px;
  }

  .header__btn {
    padding: 14px 24px;
    font-size: 14px;
  }

  .breadcrumbs {
    padding-bottom: 54px;
  }

  .banner__feature {
    width: calc(50% - 18px);
  }

  .banner__feature--vertical {
    width: calc(25% - 18px);
  }

  .product-card__name {
    padding: 18px 22px 18px 20px;
  }

  .team__img {
    margin-right: 25px;
    width: 210px;
  }

  .contacts__item {
    padding: 10px;
    font-size: 20px;
  }

  .contacts__item-img img {
    height: 90px;
  }

  .news-about__date {
    margin-bottom: 54px;
  }

  .news-about__header {
    margin-bottom: 54px;
  }

  .news-about__text h1,
  .news-about__text h2 {
    font-size: 30px;
  }

  .news-about__text h3 {
    font-size: 24px;
  }

  .news-about__text--excerpt {
    margin-bottom: 44px;
  }

  .not-found__img {
    width: 280px;
  }

  .not-found__btn {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .container--lg {
    padding: 0;
  }

  .title1,
  .title1 h1,
  .title1 h2 {
    font-size: 28px;
  }

  .title2,
  .title2 h1,
  .title2 h2 {
    font-size: 22px;
  }

  .text {
    font-size: 14px;
  }

  .logo__img {
    max-height: 36px;
  }

  .logo__text {
    font-size: 18px;
  }

  .logo__text:not(:first-child) {
    margin-left: 10px;
  }

  .menu {
    position: relative;
  }

  .menu__header {
    display: flex;
    justify-content: space-between;
  }

  .menu__title {
    padding: 21px 8px 19px 8px;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .menu__open {
    display: block;
    position: relative;
    z-index: 0;
  }

  .menu__close {
    padding: 0 22px;
    background: #fff;
    border-left: 2px solid var(--color-black);
  }

  .menu__content {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  }

  .menu__list {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .menu__item {
    width: 100%;
  }

  .menu__item--mobile {
    display: flex;
  }

  .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-top: 2px solid var(--color-black);
    border-left: none;
    font-size: 14px;
    color: var(--color-black);
  }

  .menu__link:hover {
    color: var(--color-black);
  }

  .menu__lang-box {
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--color-black);
    font-size: 14px;
  }

  .menu__lang-box:not(:last-child) {
    margin-bottom: 30px;
  }

  .menu__btn {
    display: inline-block;
    margin: auto 8px 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 14px;
  }

  .menu--active .menu__content {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  .header__container {
    padding-left: 0;
  }

  .header__top {
    display: none;
  }

  .header__bottom-content {
    flex-wrap: wrap;
  }

  .header__logo {
    padding: 10px 0;
    width: 100%;
    justify-content: center;
    border-bottom: 2px solid var(--color-black);
  }

  .header__mobile-links {
    display: flex;
    width: calc(100% - 48px);
  }

  .header__mobile-link {
    padding: 14px;
    border-right: 2px solid var(--color-black);
    flex: 1 1 100%;
    max-width: 170px;
    text-align: center;
  }

  .header__menu {
    margin-right: 15px;
  }

  .header__btn {
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: none;
    border-top: 2px solid var(--color-black);
    width: 100%;
  }

  .header--index:not(.header--fixed) .header__logo,
  .header--index:not(.header--fixed) .header__mobile-link,
  .header--index:not(.header--fixed) .header__btn {
    border-color: #fff;
  }

  .header--index:not(.header--fixed) .header__mobile-link {
    color: #fff;
  }

  .header--index:not(.header--fixed) .header__menu .menu__link {
    color: var(--color-black);
    border-color: var(--color-black);
  }

  .header--index:not(.header--fixed) .header__menu .menu__link:hover {
    color: var(--color-black);
  }

  .header--index:not(.header--fixed) .header__menu .menu__open .menu__lines,
  .header--index:not(.header--fixed) .header__menu .menu__open .menu__lines:before,
  .header--index:not(.header--fixed) .header__menu .menu__open .menu__lines:after {
    background-color: #fff;
  }

  .main {
    padding-top: 170px;
  }

  .main__directs {
    margin-top: 90px;
  }

  .banner {
    margin-top: -170px;
    padding-top: 170px;
  }

  .banner__title {
    max-width: 620px;
  }

  .banner__features:not(.banner__features--indent) {
    margin-top: 48px;
  }

  .banner__feature {
    width: calc(50% - 16px);
  }

  .banner__img {
    margin-top: 48px;
    padding-top: 40%;
  }

  .banner--company .banner__img {
    margin-top: 48px;
  }

  .breadcrumbs {
    padding-bottom: 40px;
  }

  .partners {
    padding-bottom: 90px;
  }

  .partners__info {
    margin-bottom: 48px;
  }

  .partners__title {
    max-width: 900px;
  }

  .partners__item {
    padding: 23px;
    width: 50%;
    min-height: 148px;
  }

  .partners__item:nth-child(2n) {
    border-right: none;
  }

  .services {
    padding-bottom: 90px;
  }

  .services__title {
    max-width: 630px;
  }

  .services__btn {
    margin: 48px auto 0;
    order: 2;
    width: calc(100% - 16px);
    max-width: 420px;
  }

  .services__list-box {
    margin-top: 32px;
  }

  .services__list {
    margin: 0 -8px;
  }

  .services__item {
    margin: 0 8px;
    width: calc(50% - 16px);
  }

  .services__item:before {
    width: 32px;
    height: 32px;
  }

  .services__item:not(:nth-child(4n)):after {
    right: -9px;
  }

  .services__item:nth-child(4n+3),
  .services__item:nth-child(4n+4) {
    border-top: none;
  }

  .products {
    padding-bottom: 90px;
  }

  .products__item {
    width: 50%;
  }

  .products__item:nth-child(2n) {
    border-right-color: transparent;
  }

  .callback__main {
    padding-bottom: 95px;
  }

  .directs {
    padding-bottom: 100px;
  }

  .directs__content {
    padding-left: 0;
  }

  .directs__title {
    width: 600px;
    max-width: 100%;
  }

  .directs__list {
    margin-top: 60px;
  }

  .directs__item {
    width: calc(50% - 24px);
    min-height: 150px;
  }

  .directs__item:nth-last-child(1) {
    border-top-color: transparent;
    order: 2;
  }

  .directs__item-num {
    margin-bottom: 20px;
  }

  .directs__item-img {
    max-height: 120px;
  }

  .directs__item--empty {
    display: none;
  }

  .directs__item--img {
    order: 1;
  }

  .team {
    padding-bottom: 90px;
  }

  .team__main {
    flex-direction: column;
    align-items: flex-start;
  }

  .team__img {
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 0;
    margin-bottom: 32px;
    width: auto;
  }

  .direct {
    padding-bottom: 90px;
  }

  .direct__quote {
    margin-top: 32px;
  }

  .contacts {
    padding-bottom: 100px;
  }

  .contacts__main {
    grid-template-areas: "A A F F" "B B F F" "C C F F" "D D G G" "E E H H";
  }

  .contacts__item {
    font-size: 18px;
  }

  .contacts__item:nth-child(7) {
    border-right: none;
  }

  .contacts__map {
    margin-top: 64px;
    padding-top: 40%;
  }

  .news {
    padding-bottom: 100px;
  }

  .news-item__img {
    width: 32%;
  }

  .news-item__main {
    padding: 25px;
  }

  .news-item__date {
    font-size: 14px;
  }

  .news-item__more {
    width: 26px;
    height: 26px;
  }

  .news-item__more img {
    width: 16px;
    height: 16px;
  }

  .news-about {
    padding-bottom: 100px;
  }

  .news-about__date {
    margin-bottom: 40px;
  }

  .news-about__info {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .news-about__text h1:not(:last-child),
  .news-about__text h2:not(:last-child),
  .news-about__text h3:not(:last-child) {
    margin-bottom: 24px;
  }

  .news-about__text h1,
  .news-about__text h2 {
    font-size: 28px;
  }

  .news-about__text h3 {
    font-size: 22px;
  }

  .news-about__text p {
    font-size: 14px;
  }

  .news-about__text p:not(:first-child) {
    margin-top: 16px;
  }

  .news-about__text--excerpt {
    margin-bottom: 32px;
  }

  .not-found {
    padding-bottom: 100px;
  }

  .not-found__img {
    margin-bottom: 20px;
    width: 240px;
  }

  .not-found__text {
    margin-top: 20px;
  }

  .not-found__btn {
    margin-top: 30px;
    font-size: 14px;
  }

  .not-found__btn:after {
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 8px;
  }

  .container--xl,
  .container--lg,
  .container--md {
    padding: 0;
  }

  .title1,
  .title1 h1,
  .title1 h2 {
    font-size: 22px;
    font-weight: 400;
  }

  .title2,
  .title2 h1,
  .title2 h2 {
    font-size: 16px;
    font-weight: 400;
  }

  .text {
    font-size: 13px;
  }

  .logo__img {
    max-height: 28px;
  }

  .logo__text {
    font-size: 16px;
  }

  .logo__text:not(:first-child) {
    margin-left: 8px;
  }

  .btn {
    font-size: 14px;
    padding: 16px 24px;
  }

  .header__container {
    padding: 0;
  }

  .main {
    padding-top: 155px;
  }

  .main__directs {
    margin-top: 66px;
  }

  .banner {
    margin-top: -155px;
    padding-top: 155px;
    padding-bottom: 32px;
    background-position-x: 52%;
  }

  .banner__title {
    max-width: 480px;
  }

  .banner__features:not(.banner__features--indent) {
    margin-top: 32px;
  }

  .banner__features--indent {
    padding-top: 24px;
  }

  .banner__feature {
    flex-direction: column;
    align-items: flex-start;
  }

  .banner__feature:before {
    margin-bottom: 12px;
    width: 32px;
    height: 32px;
  }

  .banner__feature-text {
    font-size: 13px;
    font-weight: 500;
  }

  .banner__feature-text b {
    font-weight: 500;
  }

  .banner__img {
    margin: 32px -8px 0 -8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .banner__img img {
    width: calc(100% - 16px);
  }

  .banner--white {
    padding-bottom: 0;
  }

  .banner--company .banner__img {
    margin-top: 32px;
  }

  .breadcrumbs {
    padding-bottom: 32px;
  }

  .breadcrumbs__list {
    font-size: 14px;
  }

  .partners {
    padding: 8px 0 66px;
  }

  .partners__info {
    padding: 0 8px;
    margin-bottom: 24px;
  }

  .services {
    padding: 8px 0 66px;
  }

  .services__breadcrumbs {
    padding-left: 8px;
    padding-right: 8px;
  }

  .services__title {
    padding-left: 8px;
    padding-right: 8px;
  }

  .services__btn {
    margin-top: 32px;
  }

  .services__list-box {
    margin-top: 24px;
  }

  .services__item {
    padding: 16px 8px;
    min-height: 145px;
  }

  .services__item:before {
    margin-bottom: 12px;
  }

  .products {
    padding: 8px 0 64px;
  }

  .products__item {
    width: 100%;
    border-right: none;
  }

  .product-card {
    flex-direction: row;
  }

  .product-card__img {
    padding-top: 0;
    width: 142px;
    min-height: 142px;
    flex: 0 0 auto;
    border-right: 2px solid var(--color-black);
  }

  .product-card__img img {
    position: static;
    transform: translate(0, 0);
  }

  .product-card__name {
    border-top: none;
  }

  .product-card__name a {
    flex-direction: column;
    align-items: flex-end;
  }

  .product-card__name a:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-top: 18px;
  }

  .product-card__more {
    padding: 23px 0 21px;
  }

  .product-card__more-img img {
    max-width: 140px;
  }

  .product-card__more-text {
    font-size: 13px;
  }

  .product-card__more-text:not(:first-child) {
    margin-top: 10px;
  }

  .callback__content {
    padding: 0 8px;
  }

  .callback__main {
    padding: 8px 8px 64px;
  }

  .callback__btn {
    margin-top: 24px;
  }

  .directs {
    padding: 8px 0 74px;
  }

  .directs__info {
    padding: 0 8px;
  }

  .directs__title {
    width: 490px;
  }

  .directs__list {
    margin: 46px -8px -8px 0;
  }

  .directs__item {
    margin: 0 8px;
    padding: 22px 12px;
    width: calc(50% - 16px);
  }

  .directs__item:before {
    height: calc(100% - 14px);
    left: -9px;
  }

  .directs__item:nth-last-child(1) {
    border-top-color: transparent;
    order: 2;
  }

  .directs__item-num {
    margin-bottom: 12px;
    font-size: 14px;
  }

  .directs__item-text {
    font-weight: 500;
  }

  .directs__item-img {
    max-height: 100px;
  }

  .team {
    padding: 8px 0 64px;
  }

  .team__img {
    max-width: 200px;
  }

  .direct {
    padding: 8px 0 64px;
  }

  .direct__quote {
    margin-top: 24px;
    margin-left: 0;
  }

  .contacts {
    padding-bottom: 66px;
  }

  .contacts__breadcrumbs {
    padding-left: 8px;
    padding-right: 8px;
  }

  .contacts__map {
    margin-top: 32px;
  }

  .contacts__map iframe {
    width: calc(100% - 16px);
  }

  .news {
    padding-bottom: 64px;
  }

  .news__breadcrumbs {
    padding-left: 8px;
    padding-right: 8px;
  }

  .news__list {
    margin: 0 auto;
  }

  .news-item {
    padding: 0;
  }

  .news-item__content {
    flex-direction: column;
    border: none;
  }

  .news-item__img {
    width: 100%;
    height: 260px;
    border-bottom: 2px solid var(--color-black);
    padding: 0 8px;
  }

  .news-item__img img {
    width: 100%;
  }

  .news-item__main {
    position: relative;
    padding: 16px 8px;
    min-height: auto;
  }

  .news-item__meta {
    margin-bottom: 16px;
  }

  .news-item__more {
    position: absolute;
    right: 8px;
    bottom: 16px;
    z-index: 1;
  }

  .news-about {
    padding-bottom: 64px;
  }

  .news-about__date {
    margin-bottom: 32px;
    padding: 0 8px;
    font-size: 14px;
  }

  .news-about__header {
    margin-bottom: 32px;
    flex-direction: column;
    border: none;
  }

  .news-about__info {
    padding: 0 8px 30px;
  }

  .news-about__img {
    padding-right: 8px;
    padding-left: 8px;
    width: 100%;
    height: 240px;
    min-height: auto;
    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
  }

  .news-about__main {
    padding: 0 8px;
  }

  .news-about__text h1,
  .news-about__text h2,
  .news-about__text h3 {
    font-weight: 400;
  }

  .news-about__text h1,
  .news-about__text h2 {
    font-size: 16px;
  }

  .news-about__text h3 {
    font-size: 15px;
  }

  .news-about__text p {
    font-size: 13px;
  }

  .news-about__text p:not(:first-child) {
    margin-top: 14px;
  }

  .not-found {
    padding-bottom: 64px;
  }

  .not-found__content {
    padding: 0 8px;
  }

  .not-found__main {
    margin-top: 98px;
  }

  .not-found__img {
    margin-bottom: 16px;
    width: 140px;
  }

  .not-found__text {
    margin-top: 16px;
  }

  .not-found__btn {
    margin-top: 24px;
    font-size: 13px;
  }

  .not-found__btn:after {
    margin-left: 10px;
    width: 11px;
    height: 11px;
  }

  .footer__content {
    padding: 16px 0;
    margin-left: -8px;
    margin-right: -8px;
    flex-direction: column;
    align-items: center;
  }

  .footer__copyright {
    margin-top: 16px;
    order: 2;
    font-size: 12px;
  }

  .footer__menu-item:not(:first-child) {
    margin-left: 16px;
  }

  .footer__menu-link {
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  .contacts__main {
    grid-template-areas: "A A" "B C" "D F" "E G" "H H";
  }

  .contacts__item {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    line-height: 1.2;
  }

  .contacts__item:nth-child(1),
  .contacts__item:nth-child(3) {
    border-right: none;
  }

  .contacts__item-img {
    height: 62px;
  }

  .contacts__item-text {
    max-width: 360px;
  }
}

@media (max-width: 480px) {

  .title1,
  .title1 h1,
  .title1 h2 {
    font-size: 18px;
  }

  .banner__title {
    max-width: 390px;
  }

  .banner__img {
    padding-top: 65.75%;
  }

  .contacts__map {
    padding-top: 63%;
  }

  .news-item__img {
    height: 180px;
  }

  .news-item__title {
    max-width: 350px;
  }

  .news-item__text {
    max-width: 310px;
  }
}

@media (max-width: 340px) {
  .contacts__item {
    font-size: 14px;
  }
}